.navbar-text-margin-right {
  margin-right: 1rem;
}

.title {
  margin-top: 1.6rem;
  font-size: 1.5em;
}

.review-summary {
  margin-bottom: 1.5rem;
}

.like-icon-button {
  background: transparent !important;
  border: none;
}

.like-icon {
  width: 13px;
  height: 13px;
  margin-left: .3rem;
  font-size: 18px !important;
  margin-right: 4px !important;
  color: var(--dls19-brand-color) !important;
  display: inline-flex !important;
}