.read-more {
  margin-top: 2rem;
}

.read-more-fade {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  height: 7.5em; /* exactly three lines */
}

.read-more-fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}