.col-no-horizontal-padding {
  padding-left: 0;
  padding-right: 0;
}

.spacing-md {
  margin-top: 3rem;
}

.spacing-sm {
  margin-top: 1rem;
}

.title {
  margin-top: 1.6rem;
  font-size: 1.5em;
}

.review-highlight {
  margin-bottom: 1.5rem;
}

.star-icon-button {
  background: transparent !important;
  border: none;
  padding-left: 0;
}

.star-icon {
  font-size: 1rem !important;
  display: inline-flex !important; 
}

.star-icon-colour {
  color:rgb(255, 56, 92);
  margin-right: .2rem;
}

.review-score-wrapper {
  font-size: .9em;
}

.review-stars {
  color: var(--parsed-html-color, #222222) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 600 !important;
  margin-bottom: 1em !important;
}

.location-button {
  padding-left: 0;
  background: transparent !important;
  border: none;
}

.location-city {
  text-decoration: underline;
}

.image-group {
  margin-left: 0;
  margin-right: 0;
}

.first-image-col {
  padding-left: 0;
}

.second-image-col {
  padding-right: 0;
  padding-left: 0;
}

.last-image-col {
  padding-right: 0;
  padding-left: 0;
}

.image-bounding-box {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.badge-icon {
  margin-right: .5rem;
}

.host-name {
  margin-bottom: 0;
}

.divider-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(221, 221, 221);
  width: 100%;
  padding-bottom: 3rem;
}