.col-small-padding {
  padding-right: .1rem;
  padding-left: .1rem;
  border: aqua;
  border-style: groove;
}

.bounding-box {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}