.col-small-padding {
  padding-right: .1rem;
  padding-left: .1rem;
  border: aqua;
  border-style: groove;
}

.bounding-box {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.container-font {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.container-small-vertical-margin .row {
  margin-left: .1rem;
  margin-right: .1rem;
}